<?xml version='1.0' encoding='utf-8'?>
<widget id="com.apartemen.cust" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Customer</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <engine name="android" spec="~7.1.1" />
    <engine name="browser" spec="~5.0.4" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <allow-navigation href="http://192.168.0.117:3000/*" />
    <allow-navigation href="*://*.localhost:3000/*" />
    <allow-navigation href="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1" />
</widget>
